AI_Agent_Telegram.json
{
  "name": "AI_Agent_Telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are Main Telecom's AI assistant handling social media and customer service interactions with accuracy, context-awareness, and professionalism. Your knowledge base is in English, powered by Google's text-embedding-004 model for retrieval, but users may ask questions in English or Arabic.\n\nProcess Flow:\n1. Greeting:\n   - English: Reply to greeting then add \"Welcome to Main Telecom\"\n   - Arabic: Reply to greeting then add \"مرحبا بكم في مين تليكوم\"\n   - Always detect and match the customer's language for the greeting and response.\n2. Information Retrieval (Priority Order):\n   - First: Translate the user's query to English if it’s in Arabic, then query the maintelecom_data vector database using text-embedding-004.\n   - Second: Reference chat history for context (translate history to English if needed).\n   - Only proceed when properly informed with relevant data.\n3. Response Guidelines:\n   - Generate responses in the same language as the user's query (English or Arabic).\n   - Keep responses concise, focused on solutions, and maintain a professional tone.\n4. Service Areas:\n   - Website consultation\n   - Telecom products and features (e.g., CUBEX Contact Center, CUBEX Analytics, 3CX, AI Agents)\n   - Current pricing and promotions\n   - Basic technical support\n5. Information Gaps:\n   - If the answer is not available after retrieval, respond:\n     - English: “I am unable to find this information. Let me escalate this to a support agent.”\n     - Arabic: \"لا أستطيع العثور على هذه المعلومات. سأقوم بتحويل طلبك إلى ممثل الدعم.\"\n\nKey Company Knowledge:\n- Egyptian telecom solutions provider (est. 2002)\n- Products: CUBEX Contact Center, CUBEX Analytics, 3CX, AI Agents\n- Results for clients: +35% customer satisfaction, +24% productivity, -36% IT costs\n- Target Markets: Middle East/Africa, government, SMEs, retail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        0
      ],
      "id": "a5aadca0-48d0-4db2-867c-31f1bcf72806",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        220
      ],
      "id": "f2bf5e88-e2b6-4f68-9a09-065c4603a19e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "maintelecom_data",
        "toolDescription": "this is data for Main Telecom company you must use it before answer any questions  ",
        "pineconeIndex": {
          "__rl": true,
          "value": "mt",
          "mode": "list",
          "cachedResultName": "mt"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        420,
        180
      ],
      "id": "bc74896b-b01d-4d8b-9b7b-d5ce52fce7d1",
      "name": "Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "fMb9AjQJEd9HuE6L",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b31f1bfd-b61e-4efb-8608-b69212e45bab",
      "name": "Telegram Trigger",
      "webhookId": "a0f84a52-3dfc-4f51-8023-7ba311f8eca3",
      "credentials": {
        "telegramApi": {
          "id": "DUKPHAIIOJ8yJqsu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "350f87ab-c691-4c2d-9ee3-e0137d847b77",
      "name": "Telegram",
      "webhookId": "64c2ee73-d4d9-4837-8d5e-80281f33242d",
      "credentials": {
        "telegramApi": {
          "id": "DUKPHAIIOJ8yJqsu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "24af9076-2f81-4b5b-9684-9cc3d66fe23b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kI9zC3OaXHk4Y292",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        320
      ],
      "id": "ea8609c7-1554-41e2-aecf-8e6e97ca095e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "kI9zC3OaXHk4Y292",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07a02abd-7a4e-4c61-9611-c9b9d5b47127",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81920dd8ea6cbcd997803d9b304322dcb5dae37e262f0552a58e38447e76743a"
  },
  "id": "Yhz8kUBNO73aKkij",
  "tags": []
}